{% extends 'base.html' %}

{% block title %}Графики{% endblock %}

{% block content %}
{% load static %}
    <h2>Перечень графиков</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'schedules:schedule_create' %}" class="button">Добавить график</a>
    {% endif %}
    <ul>
        {% for schedule in schedules %}
            <li>
                <h2>{{ schedule.title }}</h2>
                <p>{{ schedule.description }}</p>
                <p>Автор: {{ schedule.author.username }}</p>
                <p>Последние изменения: {{ schedule.last_modified }}</p>
                <a href="{% url 'schedules:schedule_detail' schedule.pk %}" class="button">Просмотр</a>
                {% if user == schedule.author %}
                    <a href="{% url 'schedules:schedule_edit' schedule.pk %}" class="button">Редактировать</a>
                    <form action="{% url 'schedules:schedule_delete' schedule.pk %}" method="post" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="button">Удалить</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}