{% extends 'base.html' %}

{% block title %}Редактировать график{% endblock %}

{% block content %}
    <h2>Редактировать график</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button delete">Сохранить</button>
        <a href="{% url 'schedules:schedule_detail' pk=form.instance.pk %}"
           class="button">Вернуться к графику</a>
        <a href="{% url 'schedules:schedule_list' %}" class="button">К списку графиков</a>
    </form>
    <form method="post" action="{% url 'schedules:work_create' schedule_pk=form.instance.pk %}">
        {% csrf_token %}
        <button type="submit" class="button">Добавить работу</button>
    </form>
{% endblock %}
