{% extends 'base.html' %}

{% block title %}Работа с графиками{% endblock %}

{% block content %}
    <h2>{% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} график</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
            {% if form.instance.pk %}
                <p><a href="{% url 'schedules:work_delete' form.instance.pk %}">Удалить работу</a></p>
            {% endif %}
        {% endfor %}
        <button type="submit">Сохранить</button>
        <a href="{% url 'schedules:schedule_list' %}">Отмена</a>
    </form>
{% endblock %}