{% extends 'base.html' %}

{% block title %}Графики{% endblock %}

{% block content %}
{% load static %}
    <h2>Перечень графиков</h2>
    {% if user.is_authenticated %}
        <a href="{% url 'schedules:schedule_create' %}" class="button">Добавить график</a>
    {% endif %}
    <ul>
        {% for schedule in schedules %}
            <li>
                <h2>{{ schedule.title }}</h2>
                <p>{{ schedule.description }}</p>
                <p>Автор: {{ schedule.author.first_name }} {{ schedule.author.last_name }}.
                   Последние изменения: {{ schedule.last_modified|date:"d.m.Y" }}</p>
                <a href="{% url 'schedules:schedule_detail' schedule.pk %}"
                   class="button">Просмотр</a>
                {% if user == schedule.author %}
                    <a href="{% url 'schedules:schedule_update' schedule.pk %}"
                       class="button">Редактировать</a>
                    <a href="{% url 'schedules:schedule_delete' pk=schedule.pk %}"
                       type="submit" class="button delete">Удалить график</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}