{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <h2>Профиль</h2>
    <div class="profile-container">
        <div class="profile-item">
            <p>Пользователь: {{ user.username }}</p>
            <p>Имя: {{ user.first_name }}</p>
            <p>Фамилия: {{ user.last_name }}</p>
            <p>Адрес эл.почты {{ user.email }}</p>
            <a href="{% url 'edit_profile' %}" class="button">
                Изменить профиль</a>
        </div>
    </div>
{% endblock %}