<header>
    <nav>
        <h1>Планирование работ</h1>
        <h2></h2>
        <div class="button-container">
            <a href="{% url 'schedule_list' %}" class="button">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="button">Профиль</a>
                <a href="{% url 'logout' %}" class="button">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Войти</a>
                <a href="{% url 'signup' %}" class="button">Зарегистрироваться</a>
            {% endif %}
        </div>
    </nav>
</header>
